$taffy-breaks: (); // set global scope

@mixin break($break) {
  @media (min-width: em(map-get($taffy-breaks, $break))) {
    @content;
  }
}

@mixin taffy-breaks($amount, $fixed) {
  @for $i from 1 through $amount {
    $break: ($i: ($taffy-page-max / $amount) * $i);
    $taffy-breaks: map-merge($taffy-breaks, $break) !global; // update global scope

    @include break($i) {
      @content;
    }
  }
}
