body {
  min-width: px($taffy-page-min);
}

.wrapper {
  display: flex;
  padding: em($taffy-gutter-width);
  justify-content: center;
}

.center {
  // width: 100%; // Should I use flex or margin auto for centering?
  // margin: auto;
  max-width: em($taffy-page-max);
  flex: 1;
}

[class^='grid'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: if($taffy-product-grid == true, flex-start, space-between); // I'd rather not use the if() function here.
}

// Use a togglable placeholder for a product grid layout?
// %product-grid {
//   [class^='grid'] {
//     justify-content: flex-start;
//   }
// }
