$taffy-amount: 12 !default;

$taffy-gutter-width: 32 !default;
$taffy-gutter-height: 16 !default;

$taffy-page-max: 1280 !default;
$taffy-page-min: 320 !default;

$taffy-product-grid: null !default; // should be configurable within generate-columns also
