@mixin taffy-columns(
  $name: null,
  $gutter-width: $taffy-gutter-width,
  $gutter-height: $taffy-gutter-height,
  $amount: $taffy-amount,
  $media: null
  ) {

  // Columns
  @for $i from 2 through $amount {
    $gutter-width-total: $gutter-width * ($i - 1);
    $column-width: calc((100% - #{em($gutter-width-total)}) / #{$i});
    $offset-margin: calc(((100% - #{em($gutter-width-total)}) / #{$i}) + #{em($gutter-width)});

    %#{dash(column $name $i $media)} {
      flex: 1 1 $column-width;

      @if $taffy-product-grid {
        max-width: $column-width;
      }
    }
    %#{dash(offset $name 'left' $i $media)} {
      margin-left: $offset-margin;
    }
    %#{dash(offset $name 'right' $i $media)} {
      margin-right: $offset-margin;
    }
  }

  // Largest column and offset
  %#{dash(column $name 1 $media)} {
    flex: 1 1 100%;
  }
  %#{dash(offset $name 'left' 1 $media)} {
    margin-left: 100%;
  }
  %#{dash(offset $name 'right' 1 $media)} {
    margin-right: 100%;
  }

  // Zero column and offset
  %#{dash(column $name 0 $media)} {
    flex: 1 1 0;
  }
  %#{dash(offset $name 'left' 0 $media)} {
    margin-left: 0;
  }
  %#{dash(offset $name 'right' 0 $media)} {
    margin-right: 0;
  }
}
