$breakpoints: (); // set scope globally

@mixin generate-breakpoints($name: null, $amount: $taffy-amount) {

  // Breakpoints
  @for $i from 1 through $amount {
    $media-gap: $taffy-page-max / $amount;
    $breakpoint: (dash($name $i): em($media-gap * $i));
    $breakpoints: map-merge($breakpoints, $breakpoint) !global; // update global scope
  }
}

// Breakpoint mixin
@mixin breakpoint($breakpoint) {
  $media-width: map-get($breakpoints, $breakpoint);

  @media(min-width: $media-width) {
    @content;
  }
}
