@mixin generate-columns(
  $name          : null,
  $gutter-width  : $taffy-gutter-width,
  $gutter-height : $taffy-gutter-height,
  $amount        : $taffy-amount,
  $media         : null
  ) {

  // Columns
  @for $i from 1 through ($amount - 1) {

    // Column width
    $divisor: $amount / $i;
    $gutter-width-total: $gutter-width * ($divisor - 1);

    $column-width: calc((100% - #{em($gutter-width-total)}) / #{$divisor});
    $offset-margin: calc(((100% - #{em($gutter-width-total)}) / #{$divisor}) + #{em($gutter-width)});

    // Columns and offsets
    %#{cola-dash(column $name $i $media)} {
      max-width: if($taffy-product-grid == true, $column-width, null);
      flex: 1 1 $column-width;
    }

    %#{cola-dash(offset $name left $i $media)} {
      margin-left: $offset-margin;
    }

    %#{cola-dash(offset $name right $i $media)} {
      margin-right: $offset-margin;
    }
  }

  // Largest column and offset
  %#{cola-dash(column $name $amount $media)} {
    flex: 1 1 100%;
  }
  %#{cola-dash(offset $name left $amount $media)} {
    margin-left: 100%;
  }
  %#{cola-dash(offset $name right $amount $media)} {
    margin-right: 100%;
  }

  // Zero column and offset
  %#{cola-dash(column $name 0 $media)} {
    flex: 1 1 0;
  }
  %#{cola-dash(offset $name left 0 $media)} {
    margin-left: 0;
  }
  %#{cola-dash(offset $name right 0 $media)} {
    margin-right: 0;
  }
}
