$taffy-amount: 12 !default;

$taffy-gutter-width: 32 !default;
$taffy-gutter-height: 16 !default;

$taffy-page-max: 1280 !default;
$taffy-page-min: 320 !default;

// Should this be universal or should it also be configurable within the column generator?
$taffy-product-grid: false !default;
