@mixin taffy-grids($gutter-width, $gutter-height, $amount, $media: null) {
  %#{dash('grid' 'all' $media)} {
    margin-top: em($gutter-height);
    margin-right: em($gutter-width);
  }

  %#{dash('grid' 'first' 'row' $media)} {
    margin-top: 0;
  }

  %#{dash('grid' 'last' 'column' $media)} {
    margin-right: 0;
  }

  @for $i from 1 through $amount {
    %#{dash('grid' $media $i)} {
      > [class^='column'] {
        // Is it needed to output nth-child when there's only 1 column?
        &:nth-child(n) {
          @extend %#{dash('grid' 'all' $media)};
        }

        &:nth-child(-n + #{$i}) {
          @extend %#{dash('grid' 'first' 'row' $media)};
        }

        &:nth-child(#{$i}n),
        &:last-child {
          @extend %#{dash('grid' 'last' 'column' $media)};
        }
      }
    }
  }
}
