@mixin taffy-breakpoints(
  $name: null,
  $gutter-width: $taffy-gutter-width,
  $gutter-height: $taffy-gutter-height,
  $amount: $taffy-amount
  ) {

  @for $i from 1 through $amount {
    @media (min-width: em(($taffy-page-max / $amount) * $i)) {
      @include taffy-grids($gutter-width, $gutter-height, $amount, $i);
      @include taffy-columns($name, $gutter-width, $gutter-height, $amount, $i);
    }
  }
}
