$breakpoints: ();

@mixin generate-breakpoints(
  $column-name   : null,
  $column-amount : $taffy-amount
  ) {

  // Breakpoints
  @for $i from 1 through $column-amount {
    $breakpoint-name: if(is-null($column-name), $i, $column-name + '-' + $i);

    $media-gap: $taffy-page-max / $column-amount;
    $media-width: em($media-gap * $i);

    $breakpoint: (
      $breakpoint-name: $media-width
    );

    $breakpoints: map-merge($breakpoints, $breakpoint) !global;
  }
}

// Breakpoint mixin
@mixin breakpoint($breakpoint) {
  $media-width: map-get($breakpoints, $breakpoint);

  @media(min-width: $media-width) {
    @content;
  }
}
