//
// + Variables
// =============================================================================

$grid-fixed: null !default;
$grid-ie10: null !default;

//
// + Grid
// =============================================================================

.grid {
  display: flex;
  flex-flow: wrap;
  max-width: $break-max;
  margin: auto;
}

//
// + Loop
// =============================================================================

@include break-loop($break-amount) {
  @for $i from 1 through $break-amount {
    .grid > %item-#{if($_break-loop, $_break-loop + '-' + $i, $i)} {
      @if $grid-fixed {
        @if $grid-ie10 {
          width: calc((100% / #{$i}) - 0.01px);
        }
        @else {
          width: calc(100% / #{$i});
        }
      }
      @else {
        @if $grid-ie10 {
          flex: 1;
          flex-basis: calc((100% / #{$i}) - 0.01px);
        }
        @else {
          flex: 1 1 calc(100% / #{$i});
        }
      }
    }
  }
}

//
// + Adapt
// =============================================================================

@mixin item($breaks) {
  @include adapt('item', $breaks);
}
